.homepage{
  .adnvantages{
    text-align: center;
    & h2{
      padding-top: 95px;
      color: $textSecondary;
    }
    & h4 {
      @include font(16px, $p4d1, 500, $f-textLabel);
    }
    .services{

      & > div {
        background-color: $textSecondary;
        margin-left: 75px;
        img{
          padding-top: 25px;
        }
      }
    }
    .adnvan-button{
      padding-top: 55px;
    }
  }

  .four-steps{
    text-align: center;
    .steps{
      padding-top: 95px;
    }
  }

  .discount{
    text-align: center;
    h2{
      padding-top: 70px;
    }
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 250px);
      align-items: center;
      justify-content: center;
      background-color: $textSecondary;
      height: 199px;
      .border-r{
        border-right: solid 1px $p4l2;
      }
      .border-bot{
        border-bottom: solid 1px $p4l2;
      }
      .red-txt{
        color: $textWarning;
      }
      .blue-txt{
        color: $textNote;
      }
    }
    .img-baloon{
      height: 200px;
      text-align: left;
      padding-right: 0 !important;
      padding-left: 0 !important;
      & img{
        height: 100%;
        width: auto;
      }
    }
  }
  .carousel{
    height: 300px !important;
    .ava {
      width: 60px !important;
      height: 60px;
    }
  }



}