.navbar{
  .logo{
    display: inline-block;
    margin-top: 17px;
    width: 61px;
    height: 62px;
    background-image: url("../../img/logo.png");
  }
  .nav-href{
    margin-right: 10px;
    .nav-ico{
      font-size: 25px;
      border: solid 2px white;
      border-radius: 50%;
      display: inherit;
    }
  }
}
