.navbar{
  .logo{
    padding-top: 17px;
  }
  .nav-href{
    margin-right: 10px;
    .nav-ico{
      font-size: 25px;
      border: solid 2px white;
      border-radius: 50%;
      display: inherit;
    }
  }
  .no-marg{
    margin-bottom: 0;
  }
}
