.navbar{
  .logo{
    display: inline-block;
    margin-top: 17px;
    width: 61px;
    height: 62px;
    background-image: url("../../img/logo.png");
  }
  .nav-buttons{
    padding-top: 20px;
    margin-left: 5px;
    li{
      @include font(13px, $textSecondary,400, $f-poppinssemibold);
    }
  }
}
