<footer class="bgMain page-footer foo">
    <div class="container">
        <div class="no-marg foo-line row">
            <div class="logo col xl3 l2 m6 s8">
                <img class="responsive-img" src="../img/logo.png" alt="">
            </div>
            <div class="col xl8 offset-xl1">
                <ul class="nav-dropdowns foo-nav">
                    <li><a class="nav-service" href="#!">Services</a></li>
                    <li><a class="nav-about" href="#!">About Us</a></li>
                    <li><a class="nav-hiw" href="">order now</a></li>
                    <li><a class="nav-hiw" href="">disclaimer</a></li>
                    <li><a class="nav-hiw" href="">why us</a></li>
                    <li><a class="nav-hiw" href="">contacts</a></li>
                    <li><a class="nav-hiw" href="">blog</a></li>
                </ul>
            </div>
        </div>
        <div class="row no-marg foo-sections ">
            <div class="col xl3">
                <h4>Section1</h4>
                <span>
                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.-
                </span>
            </div>
            <div class="col xl3">
                <h4>Section1</h4>
                <span>
                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                </span>
            </div>
            <div class="col xl3">
                <h4>Section1</h4>
                <span>
                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                </span>
            </div>
            <div class="col xl3">
                <h4>Section1</h4>
                <span>
                    The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col xl3">
                <span class="white-text">Copyright c 2017 BlueEssaySite.net</span>
                <span class="white-text">All rights reserved</span>
            </div>
            <div class="col xl3">
                <i class="fa fa-facebook circle"></i>
                <i class="fa fa-twitter circle"></i>
                <i class="fa fa-pinterest circle"></i>
                <i class="fa fa-google-plus circle"></i>
            </div>
            <div class="col xl3">
                <i class="fa fa-phone-square"></i>
                <span class="white-text">Toll free:</span>
                <b>+ 3 044 111 2732</b>
            </div>
            <div class="col xl3">
                <i class="material-icons">drafts</i>
                <span class="white-text">Email: </span>
                <span class="white-text">blueessaysite@gmail.com</span>
            </div>
        </div>
    </div>
</footer>
<script src="js/main.js"></script>
</body>
</html>