<div class="header responsive-img">
    <div class="container">
        <header>
            <div class="row">
                <div class="col xl8 l10 m10 s12 ">
                    <!--https://www.youtube.com/watch?v=CBQGl6zokMs-->
                    <h1 class="line animated flipInX">BlueEssaySite.net -
                        <p class="animated flipInY">expert help for custom Written</p>
                    </h1>
                    <span class="header-span hide-on-med-and-down">
                        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                    </span>
                    <button class="btn-type-warning waves-effect waves-light btn hide-on-med-and-down">Place an order</button>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="container">
    <div class="row order-maker bgMain">
        <div class="col xl2 l2 m2 s2">
            <label>Type of paper</label>
            <select class="browser-default">
                <option value="" disabled selected>Placeholder text</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col  xl2 l2 m2 s2">
            <label>High school</label>
            <select class="browser-default">
                <option value="" disabled selected>High school</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col xl2 l2 m2 s2">
            <label>Urgency</label>
            <select class="browser-default">
                <option value="" disabled selected>21 days</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>

        <div class="col xl3 l3 m3 s3 ">
            <label for="counter-field">Number of pages</label>
            <div class="counter">
            <a href="#!" id="sub" onclick="sub()"><i class="material-icons">remove</i></a>
            <input id="counter-field" type="text" value="1">
            <a href="#!" id="add" onclick="add()"><i class="material-icons">add</i></a>
            </div>
        </div>
        <div class="col xl3 up-cls">
            <button class="btn-type-default-long waves-effect waves-light btn">Continue</button>
        </div>
    </div>
</div>