<div class="header">
    <div class="container">
        <header>
            <h1 class="line">BlueEssaySite.net -
                <p>expert help for custom Written</p>
            </h1>
            <span class="header-span">
                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
            </span>
            <button class="btn-type-warning waves-effect waves-light btn">Place an order</button>
        </header>
    </div>
</div>
<div class="container">
    <div class="row order-maker bgMain">
        <div class="col xl2">
            <label>Browser Select</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col xl2">
            <label>Browser Select</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col xl2">
            <label>Browser Select</label>
            <select class="browser-default">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="col xl4 input-field">
            <a href=""><i class="material-icons">remove</i></a>
            <input type="text">
            <a href=""><i class="material-icons">add</i></a>
            <label>Browser Select</label>
        </div>
        <div class="col xl2">
            <button class="btn-type-default waves-effect waves-light btn">Continue</button>
        </div>
    </div>
</div>