<main>
    <div class="container">
        <div class="row">
            <div class="col xl6">
                <img src="../img/Welcome.png" alt="welcome">
            </div>
            <div class="col xl6">
                <h2 class="animated bounceIn">Do you need essay help from a good writing service?</h2>
                <span>
                    If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.
Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.
                </span>
            </div>
        </div>
        <div class="row">
            <h3>Advantages of Our Writing Services</h3>
            <div class="row">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="row">
                <div>
                    <button class="btn-type-default waves-effect waves-light btn">Place an order</button>
                </div>
            </div>
        </div>
    </div>
</main>
