<main class="homepage">
    <div class="container">
        <div class="row">
            <div class="col xl6">
                <img src="../img/Welcome.png" alt="welcome" class="responsive-img">
            </div>
            <div class="col xl6">
                <h2 class="animated bounceIn">Do you need essay help from a good writing service?</h2>
                <span>
                    If you need to buy papers or custom essays, you have arrived at the ideal place! We offer guarantees that any essay work provided by our professional writing services will be entirely free of plagiarism and 100% freshly written. At BestEssayService.net, we make sure our customers are fully satisfied every time they use our custom term paper writing service.
Our essay and research paper writing services are provided by a large team of editing, writing and research specialists who can help you with all types of coursework, whether you have essays, term papers, research papers, theses or dissertations to complete. Our essay writers are able to help you with all subject matters for all education levels, no matter if you are a high school student or studying for a PhD or Master's degree.
                </span>
            </div>
        </div>
    </div>
        <div class="bg-icons">
            <div class="container">
                <div class="row adnvantages">
                    <h2>Advantages of Our Writing Services</h2>
                    <div class="services row" id="onScroll">
                        <div class="col xl3 l2 m3 s4  card">
                            <img class="responsive-img" src="../img/banka.png" alt="">
                            <h4>Professionally-qualified
                                writing experts</h4>
                            <span>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</span>
                        </div>
                        <div class="col xl3 l2 m3 s4 card">
                            <img class="responsive-img" src="../img/task.png" alt="">
                            <h4>Commitment to deliver papers by deadline</h4>
                            <span>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</span>
                        </div>
                        <div class="col xl3 l2 m3 s4 card">
                            <img class="responsive-img" src="../img/computr.png" alt="">
                            <h4>Top-quality, at a great price - guaranteed</h4>
                            <span>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</span>
                        </div>
                    </div>
                    <div class="adnvan-button offset-xl4 col xl4">
                        <button class="btn-type-default waves-effect waves-light btn">Place an order</button>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row four-steps">
            <h2>Our Simple 4-Step Procedure</h2>
            <div class="row steps">
                <div class="col xl3">
                    <img src="../img/pencil.png" alt="">
                    <h4>Step 1</h4>
                    <span>Complete the short order form to buy a paper from our easy essay writing service.</span>
                </div>
                <div class="col xl3">
                    <img src="../img/medal.png" alt="">
                    <h4>Step 2</h4>
                    <span>We allocate your order to a suitably-qualified writer with specialist knowledge in, for example, persuasive essay writing if that is what you want.</span>
                </div>
                <div class="col xl3">
                    <img src="../img/find.png" alt="">
                    <h4>Step 3</h4>
                    <span>Our Quality Assurance specialists then check the completed paper to ensure the essay writing is of the highest standard</span>
                </div>
                <div class="col xl3">
                    <img src="../img/rocket.png" alt="">
                    <h4>Step 4</h4>
                    <span>The order you placed with our essay writing service is then sent to you before the deadline you set and is accompanied by several free-of-charge features.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="cloud-bg">
        <div class="container">
            <div class="row discount">
                <h2>Our discount program</h2>
                <span>By utilizing elements and principles of Material Design, we were able to create a framework that incorporates</span>
                <div class="row">
                    <div class="col xl3 border">
                        <h3>4%
                            OFF</h3>
                        <span>for more than</span>
                        <span>15 pages</span>
                    </div>
                    <div class="col xl3 border">
                        <h3>5%
                            OFF</h3>
                        <span>for more than</span>
                        <span>20 pages</span>
                    </div>
                    <div class="img-baloon col xl6">
                        <a href="">
                        <img class="responsive-img" src="../img/15off.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col xl3 border">
                        <h3>10%
                            OFF</h3>
                        <span>for more than</span>
                        <span>50 pages</span>
                    </div>
                    <div class="col xl3 border">
                        <h3>15%
                            OFF</h3>
                        <span>for more than</span>
                        <span>100 pages</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="carousel carousel-slider center" data-indicators="true">
                <div class="carousel-item red white-text" href="#one!">
                    <h2>First Panel</h2>
                    <p class="white-text">This is your first panel</p>
                </div>
                <div class="carousel-item amber white-text" href="#two!">
                    <h2>Second Panel</h2>
                    <p class="white-text">This is your second panel</p>
                </div>
                <div class="carousel-item green white-text" href="#three!">
                    <h2>Third Panel</h2>
                    <p class="white-text">This is your third panel</p>
                </div>
                <div class="carousel-item blue white-text" href="#four!">
                    <h2>Fourth Panel</h2>
                    <p class="white-text">This is your fourth panel</p>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</main>
