<main>
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid laborum officia qui repellendus rerum soluta voluptatum. Facere,
        laudantium, natus? Blanditiis et exercitationem nisi totam! Corporis cumque distinctio eius mollitia porro! Aliquid animi assumenda,
        aut blanditiis debitis dicta, facere, id ipsam laborum modi neque pariatur provident quia voluptate voluptates. Ab amet animi aperiam
        atque beatae consequuntur debitis, dignissimos dolorem ducimus eum facere magni nemo nobis quidem repellendus reprehenderit saepe. Illum iste
        natus nesciunt optio tempore. Alias, iure labore nobis perspiciatis quisquam sapiente voluptate voluptatem. Animi, ea eveniet ex id labore
        maxime quos vel voluptates. Doloribus perspiciatis, quae sed sit tempora voluptatum.
    </p>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
</div>
</main>
