<nav class="bgMain nav-extended">
    <div class="nav-wrapper">
        <div class="container">
            <a href="#">
                <span class="logo hide-on-med-and-down"></span>
            </a>
            <a href="#" class="left brand-logo">
                <span class=" logo-text">Blue<span class="b-text">essay</span>site<span class="l-text">.net</span>
                </span>
            </a>
            <span class="d-text hide-on-med-and-down">Providing Custom Writing Services</span>
            <a href="#" data-activates="mobile-demo" class="button-collapse right">
                <i class="material-icons">menu</i>
            </a>
            <div class="hide-on-med-and-down right">
                <a class="dropdown-button" href="#!" data-activates="burger-xl"><i class="material-icons">menu</i></a>
            </div>
            <div class="hide-on-med-and-down right">
                <button class="pronto blue-btn waves-effect waves-light btn">Sign in</button>
                <button class="orange-btn waves-effect waves-light btn">Order</button>
            </div>
                <ul class="hide-on-med-and-down right">
                    <li><a class="nav-service dropdown-button" href="#!" data-activates="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="nav-about dropdown-button" href="#!" data-activates="dropdown1">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="nav-hiw" href="">How it works</a></li>
                </ul>
            <!--Side nav mobile-->
            <ul class="side-nav" id="mobile-demo">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown2">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="">How it works</a></li>
                <button class="pronto-btn waves-effect waves-light btn">Sign in</button>
                <button class="nav-order-btn waves-effect waves-light btn">Order</button>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="burger-xl" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
        </div>
    </div>
</nav>
