<nav class="navbar bgMain nav-extended">
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
            <a href="#">
                <span class="logo hide-on-med-and-down"></span>
            </a>
            <a href="#" class="left brand-logo">
                <span class=" logo-text">Blue<span class="b-text">essay</span>site<span class="l-text">.net</span>
                </span>
            </a>
            <span class="d-text hide-on-med-and-down">Providing Custom Writing Services</span>
                <a href="#" data-activates="mobile-demo" class="button-collapse right">
                    <i class="material-icons">menu</i>
                </a>
                <div class="hide-on-med-and-down right nav-buttons">
                    <a class="button-collapse-xl" href="#!" data-activates="burger-xl">
                        <i class="material-icons">menu</i>
                    </a>
                </div>
                <div class="hide-on-med-and-down right nav-buttons">
                    <a href="" class="nav-href"><i class="material-icons nav-ico">phone</i></a>
                    <button class="btn-type-default waves-effect waves-default btn">Sign in</button>
                    <button class="btn-type-warning waves-effect waves-orange btn">Order</button>
                </div>
                    <ul class="hide-on-med-and-down right nav-dropdowns">
                        <li><a class="nav-service dropdown-button" href="#!" data-activates="dropdown5">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="nav-about dropdown-button" href="#!" data-activates="dropdown6">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="nav-hiw" href="">How it works</a></li>
                    </ul>
            </div>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one2</a></li>
                <li><a href="#!">two5</a></li>
                <li class="divider"></li>
                <li><a href="#!">three4</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="#!">onedsá</a></li>
                <li><a href="#!">two5á</a></li>
                <li class="divider"></li>
                <li><a href="#!">threeá</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown3" class="dropdown-content">
                <li><a href="#!">one2</a></li>
                <li><a href="#!">two5</a></li>
                <li class="divider"></li>
                <li><a href="#!">three4</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="#!">onedsá</a></li>
                <li><a href="#!">two5á</a></li>
                <li class="divider"></li>
                <li><a href="#!">threeá</a></li>
            </ul>

            <!-- Dropdown Structure -->
            <ul id="dropdown5" class="dropdown-content">
                <li><a href="#!">one2</a></li>
                <li><a href="#!">two5</a></li>
                <li class="divider"></li>
                <li><a href="#!">three4</a></li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id="dropdown6" class="dropdown-content">
                <li><a href="#!">onedsá</a></li>
                <li><a href="#!">two5á</a></li>
                <li class="divider"></li>
                <li><a href="#!">threeá</a></li>
            </ul>
            <!--Side nav mobile-->
            <ul class="side-nav" id="mobile-demo">
                <li><div class="user-view">
                    <div class="background">
                        <img src="http://materializecss.com/images/office.jpg">
                    </div>
                    <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
                    <a href="#!name"><span class="white-text name">Bichara Doe</span></a>
                    <a href="#!email"><span class="white-text email">big_boss@gmail.com</span></a>
                </div>
                </li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown4">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="">How it works</a></li>
                <li class="center">
                    <button class="blue-btn nav-pronto-btn waves-effect waves-light btn">Sign in</button>
                    <button class="orange-btn nav-order-btn waves-effect waves-light btn">Order</button>
                </li>
            </ul>
            <!-- Burger XL -->
            <ul class="side-nav" id="burger-xl">
                <li><div class="user-view">
                    <div class="background">
                        <img src="http://materializecss.com/images/office.jpg">
                    </div>
                    <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
                </li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Services<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown2">About Us<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="">How it works</a></li>
                <li class="center">
                    <button class="blue-btn nav-pronto-btn waves-effect waves-light btn">Sign in</button>
                    <button class="orange-btn nav-order-btn waves-effect waves-light btn">Order</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
