@mixin button($font-color:$textSecondary, $bg-color:$p4, $font-family: $f-regular){
  color: $font-color;
  background-color: $bg-color;
  font-family: $font-family;
}



//Change classes
.btn-type-warning{
  @include button($textSecondary, $p2, $f-poppinssemibold !important);
  &:hover{
    background-color: $p2l2;
  }
  &:focus{
    background-color: $p2;
}
}

.btn-type-default{
  @include button($textSecondary, $p1d1, $f-poppinssemibold !important);
  &:hover{
    background-color: $p1l2;
  }
  &:focus{
    background-color: $p1d1;
  }
}

.btn-type-default-long{
  @include button($textSecondary, $p1d1, $f-poppinssemibold !important);
  padding: 0 4rem;
  &:hover{
    background-color: $p1l2;
  }
  &:focus{
    background-color: $p1d1;
  }
}

.nav-buttons{
  padding-top: 20px !important;
  margin-left: 10px;
  padding-right: 0 !important;
  padding-left: 0 !important;
  text-transform: uppercase;
  @include font(13px, $textSecondary,300, $f-poppinssemibold);
  button{
    margin-bottom: 20px;
  }
}

.nav-dropdowns {
  padding-left: auto;
  text-transform: uppercase;
  & a {
    padding: 20px 4px !important;
    @include font(13px, $textSecondary, 300, $f-poppinssemibold);
  }
}


.up-cls{
  @include margin-top(25px);
  margin-bottom: 40px;
}