body{
  @include font(15px,$p4d3,400,$f-textHeader);
  max-width: 1920px;
  min-width: 320px;
}

h1{
  @include font(34px,$p1,700,$f-poppinsbold);
}

label{
  @include font(13px,$textSecondary,500, $f-textLabel);
}

option{
  @include font(13px, $p4l1, 400, $f-textHeader);
}

/*.bgDarken{
  background-color: $bgColorPrimaryDark;
}
.bgLiten{
  background-color: $bgColorPrimaryLight;
}*/


@function convertToEm($px, $context: 16px){
  @return ($px / $context) * 1em;
}

@function convertToRem($px, $context: 16px){
  @return ($px / $context) * 1rem;
}
.bgMain{
  background-color: $p1;//colors.scss
}

li > a{
  @include font(16px, $p4d1, 300, $f-poppinssemibold);
}

.dropdown-content li > a{
  @include font(16px, $p4d1, 300, $f-poppinssemibold);
}

//navbar.scss
.logo-text{
  @include font(20px, $textSecondary, 400, $f-poppinsligth);
  vertical-align: -10px;
  .b-text{
    @include font(26px, $p3, 400, $f-poppinsbold);
    text-transform: uppercase;
  }
  .l-text{
    @include font(13px, $textSecondary, 300, $f-poppinsligth);
  }
}
.d-text{
  @include font(13px, $textSecondary, 400, $f-regular);
  line-height: 30px;
  letter-spacing: 0.26px;
  vertical-align: 10px;
}

//end



@mixin margin-top($move-up:20px){
  margin-top: $move-up;
}